@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Fauna+One&display=swap');

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  justify-content: center;
}

.bg-animate-color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  z-index: -10;
  background-color: salmon;
}

.fun-btn {
  /* change bg color to get different hues    */
  background-color: lightseagreen;
  color: white;
  padding: 1em 1.5em;
  border: none;
  transition: all 1s ease;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
    margin: 13% auto auto auto;
  font-weight: bold;
    opacity: 80%;
    font-size: 60px;
    font-family: Fascinate;
}

.fun-btn::before {
  content: attr(data-off);
}

.fun-check {
  display: none;
}

.fun-check:checked ~ .fun-btn {
    animation: random-bg .5s linear infinite, grow 1600ms ease infinite;
  background-color: #fff !important;
  color: salmon !important;
}

.fun-check:checked ~ .fun-btn::before {
  content: attr(data-on);

}

.fun-check:checked ~ .bg-animate-color {
  visibility: visible;
  animation: random-bg 2s linear infinite;
}

h2 {
    color: white;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 33%;
    text-align: center;
    font-family: Fauna One;
    font-size: 30px;
}

/* pulsating effect on button */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.15);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.15);
  }
  70% {
    transform: scale(1);
  }
}

@keyframes random-bg {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
